# Byte-compiled / optimized / DLL files
**/__pycache__/
__pycache__/
*.py[cod]
*$py.class

# C Extensions
*.so

# Virtual environment
venv/
env/
.virtualenv/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# SQLite database files
*.db
*.sqlite3

# Logs and debugging
*.log
*.out
*.err

# pytest
.cache/
*.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm project files
.idea/

# VSCode project files
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
*.env

# Temporary files
*.bak
*.swp
*.tmp
~$*

# Coverage reports
htmlcov/
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json

# Other
*.prof
